/* popModal */
.popModal {position:absolute;background:#fff;padding:15px;border:1px solid #aaa;box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);opacity:0;text-align:left;max-width:300px;min-width:140px;z-index:9997;font-family:sans-serif;font-size:14px;-webkit-transition:all 200ms ease;transition:all 200ms ease}
.popModal.open {opacity:1;margin:0!important}
.popModal .close {line-height:12px;font-size:25px;font-weight:bold;font-family:serif;position:absolute;right:8px;top:8px;color:#000;opacity:0.2;padding:0;cursor:pointer;background:transparent;border:0;outline:0}
.popModal .close:hover {opacity:1}
.popModal .popModal_content {}
.popModal .close + .popModal_content.popModal_contentOverflow {margin-top:15px}
.popModal .popModal_content.popModal_contentOverflow {max-height:200px;overflow-y:auto;overflow-x:hidden;margin:0 -8px;word-wrap:break-word;padding:0 7px}
.popModal.bottomLeft .popModal_content:before,
.popModal.bottomRight .popModal_content:before,
.popModal.bottomCenter .popModal_content:before {content:'';position:absolute;left:0;right:0;height:20px;bottom:-20px}
.popModal .popModal_footer {background:#fafafa;padding:15px;margin:20px -15px -15px;border-top:1px solid #ddd;text-align:right}
.popModal .popModal_footer button {margin:0}
.popModal.bottomLeft,
.popModal.bottomRight,
.popModal.bottomCenter {margin-top:10px}
.popModal.bottomRight {right:0}
.popModal:before {content:'';position:absolute;border:10px solid transparent}
.popModal:after {content:'';position:absolute;border:10px solid transparent;z-index:1}
.popModal.bottomLeft:before,
.popModal.bottomRight:before,
.popModal.bottomCenter:before {border-top-width:0;border-bottom-color:#aaa;top:-10px;left:6px}
.popModal.bottomLeft:after,
.popModal.bottomRight:after,
.popModal.bottomCenter:after {border-top-width:0;border-bottom-color:#fff;top:-9px;left:6px}
.popModal.bottomRight:before,
.popModal.bottomRight:after {left:auto;right:6px}
.popModal.bottomCenter:before,
.popModal.bottomCenter:after {left:50%;margin-left:-10px}
.popModal.leftTop,
.popModal.leftCenter {margin-left:-10px}
.popModal.rightTop,
.popModal.rightCenter {margin-left:10px}
.popModal.leftTop:before,
.popModal.leftCenter:before {border-right-width:0;border-left-color:#aaa;top:6px;right:-10px}
.popModal.leftTop:after,
.popModal.leftCenter:after {border-right-width:0;border-left-color:#fff;top:6px;right:-9px}
.popModal.rightTop:before,
.popModal.rightCenter:before {border-left-width:0;border-right-color:#aaa;top:6px;left:-10px}
.popModal.rightTop:after,
.popModal.rightCenter:after {border-left-width:0;border-right-color:#fff;top:6px;left:-9px}
.popModal.leftCenter:before,
.popModal.rightCenter:before {top:50%;margin-top:-10px}
.popModal.leftCenter:after, 
.popModal.rightCenter:after {top:50%;margin-top:-10px}

/*ie7*/
.popModal .close {width:14px;height:14px}


/* notifyModal */
.notifyModal {position:fixed;z-index:999999;background:rgba(255,255,255,0.5);opacity:0;cursor:pointer;font-family:sans-serif;font-size:14px;-webkit-transition:all 200ms ease;transition:all 200ms ease;-webkit-transform:scale(0.95,0.95);-moz-transform:scale(0.95,0.95);transform:scale(0.95,0.95)}
.notifyModal.onTop {top:0;bottom:0;left:0;right:0}
.notifyModal.open {opacity:1;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);transform:scale(1,1)}
.notifyModal_content {position:absolute;background:#F9EDBE;width:340px;padding:20px;margin:auto;border:1px solid #CAB388;text-align:center;box-shadow:0 2px 6px rgba(0, 0, 0, 0.3)}
.notifyModal.leftTop {top:0;left:0}
.notifyModal.centerTop {top:0;left:0;right:0}
.notifyModal.rightTop {top:0;right:0}
.notifyModal.center {top:0;bottom:0;left:0;right:0}
.notifyModal.leftBottom {bottom:0;left:0}
.notifyModal.centerBottom {bottom:0;left:0;right:0}
.notifyModal.rightBottom {bottom:0;right:0}
.notifyModal.center .notifyModal_content {left:0;right:0;top:35%}
.notifyModal.leftTop .notifyModal_content {left:20px;top:20px}
.notifyModal.centerTop .notifyModal_content {left:0;right:0;top:20px}
.notifyModal.rightTop .notifyModal_content {right:20px;top:20px}
.notifyModal.leftBottom .notifyModal_content {left:20px;bottom:20px}
.notifyModal.centerBottom .notifyModal_content {left:0;right:0;bottom:20px}
.notifyModal.rightBottom .notifyModal_content {right:20px;bottom:20px}
.notifyModal_content .close {line-height:12px;font-size:25px;font-weight:bold;font-family:serif;position:absolute;right:8px;top:8px;color:#000;opacity:0.2;padding:0;cursor:pointer;background:transparent;border:0;outline:0}
.notifyModal_content .close:hover {opacity:1}

/*ie7*/
.notifyModal_content.center, .notifyModal_content.centerTop, .notifyModal_content.centerBottom {left:50%;margin-left:-185px}
.notifyModal_content .close {width:14px;height:14px}


/* hintModal */
.hintModal {position:relative;overflow:visible}
.hintModal .hintModal_container {display:none;opacity:0;left:0;margin:0;font-family:sans-serif;font-size:14px;-webkit-transition:all 200ms ease;transition:all 200ms ease}
.hintModal .hintModal_container.open {display:block;opacity:1;margin-top:6px}
.hintModal .hintModal_container:before {content:'';position:absolute;border:6px solid transparent;border-top-width:0;border-bottom-color:#B4A984;top:-6px;left:6px}
.hintModal .hintModal_container:after {content:'';position:absolute;border:6px solid transparent;z-index:1;border-top-width:0;border-bottom-color:#F8F4E1;top:-5px;left:6px}
.hintModal.hintModal_right .hintModal_container {left:auto;right:0}
.hintModal.hintModal_right .hintModal_container:before {left:auto;right:6px}
.hintModal.hintModal_right .hintModal_container:after {left:auto;right:6px}
.hintModal.hintModal_center .hintModal_container {left:-120px;right:-120px;margin-left:auto;margin-right:auto}
.hintModal.hintModal_center .hintModal_container:before {left:50%;margin-left:-6px}
.hintModal.hintModal_center .hintModal_container:after {left:50%;margin-left:-6px}
.hintModal .hintModal_container {position:absolute;background:#F8F4E1;padding:10px;border:1px solid #B4A984;box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);display:none;opacity:0;text-align:left;max-width:240px;min-width:240px;z-index:1;font-size:12px;font-weight:normal;margin-top:16px;color:#555;top:100%}


/* dialogModal */
.dialogModal {position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.7);z-index:888888;overflow:auto;opacity:0;font-family:sans-serif;font-size:14px;-webkit-transition:all 200ms ease;transition:all 200ms ease}
.dialogModal .dialogModal_container {position:absolute;width:50%;max-width:650px;left:0;right:0;margin:auto auto 40px;box-shadow:0 2px 6px rgba(0, 0, 0, 0.6);opacity:0;background:#fff;-webkit-transition:all 200ms ease;transition:all 200ms ease}
.dialogModal.open {opacity:1}
.dialogModal.open .dialogModal_container {opacity:1}
.dialogModal .dialogModal_container .dialogPrev.notactive,
.dialogModal .dialogModal_container .dialogNext.notactive {display:none}
.dialogModal .dialogModal_container .dialogPrev {position:absolute;width:60px;top:0;bottom:0;left:-60px;cursor:pointer}
.dialogModal .dialogModal_container .dialogPrev:after {content:'';position:absolute;border:10px solid transparent;border-left:0;border-right-color:#aaa;top:50%;margin-top:-10px;margin-left:-5px;left:50%}
.dialogModal .dialogModal_container .dialogNext {position:absolute;width:60px;top:0;bottom:0;right:-60px;cursor:pointer}
.dialogModal .dialogModal_container .dialogNext:after {content:'';position:absolute;border:10px solid transparent;border-right:0;border-left-color:#aaa;top:50%;margin-top:-10px;margin-left:-5px;left:50%}
.dialogModal .dialogModal_container .dialogPrev:hover,
.dialogModal .dialogModal_container .dialogNext:hover {background:rgba(0,0,0,0.2)}
.dialogModal .dialogModal_container .close {line-height:12px;font-size:25px;font-weight:bold;font-family:serif;position:absolute;right:12px;top:12px;color:#000;opacity:0.2;padding:0;cursor:pointer;background:transparent;border:0;outline:0}
.dialogModal .dialogModal_container .close:hover {opacity:1}
.dialogModal .dialogModal_body {}
.dialogModal .dialogModal_header {padding:10px 20px;background:#eaeaea;line-height:20px}
.dialogModal .dialogModal_content {padding:25px 20px}
.dialogModal .dialogModal_footer {background:#fafafa;padding:15px 20px;border-top:1px solid #ddd;text-align:right}
.dialogModal .dialogModal_footer button {margin:0}

@media (max-width: 1000px){
.dialogModal .dialogModal_container {width:98%}
}
